<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sdut.onlinejudge.mapper.AdminMapper">
    <select id="loginCheck" resultType="admin">
        select * from admin where username=#{username} and password=#{password}
    </select>

    <update id="resetPwd" parameterType="string">
        update user set password="e10adc3949ba59abbe56e057f20f883e" where username=#{username}
    </update>

    <update id="updateUserInfo" parameterType="userInfo">
        update userinfo
        set name=#{name}, gender=#{gender}, college=#{college}
        where username=#{username}
    </update>

    <delete id="deleteUser" parameterType="string">
        delete from user where username=#{username}
    </delete>

    <insert id="addUser" parameterType="string">
        insert into user values (#{username}, "e10adc3949ba59abbe56e057f20f883e")
    </insert>

    <insert id="addUserInfo" parameterType="userInfo">
        insert into userinfo(username, name, gender, college, score, times)
        values (#{username}, #{name}, #{gender}, #{college}, #{score}, #{times})
    </insert>

    <select id="adminList" resultType="admin">
        select username, name from admin
    </select>
</mapper>
