<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sdut.onlinejudge.mapper.ContestMapper">


    <select id="findAll" parameterType="string" resultType="contest">
        select cid, cname, startTime, endTime from contests
        <if test="keyWords != null">
            <bind name="pattern" value="'%' + keyWords + '%'"/>
            where cname LIKE #{pattern}
        </if>
    </select>

    <insert id="deployContest" parameterType="contest">
        insert into
        contests(cname, problems, answers, startTime, endTime, singleScore, multiScore, judgeScore)
        values (#{cname}, #{problems}, #{answers}, #{startTime}, #{endTime}, #{singleScore}, #{multiScore}, #{judgeScore})
    </insert>

    <select id="getContestByCid" resultType="string" parameterType="int">
        select problems from contests where cid=#{cid}
    </select>

    <select id="getAnswerByCid" resultType="string" parameterType="int">
        select answers from contests where cid=#{cid}
    </select>
</mapper>
