<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sdut.onlinejudge.mapper.UserMapper">


    <select id="loginCheck" resultType="user">
        select * from user where username=#{username} and password=#{password}
    </select>

    <select id="findAllUsers" parameterType="string" resultType="userInfo">
        select username, name, gender, college, score, times from userInfo order by score desc
        <where>
            <if test="Uname != null">
                <bind name="uname" value="'%' + Uname + '%'"/>
                and name like #{uname}
            </if>
            <if test="CollegeName != null">
                <bind name="collegeName" value="'%' + CollegeName + '%'"/>
                and college like #{collegeName}
            </if>
        </where>

    </select>

    <select id="getUserInfo" parameterType="string" resultType="userInfo">
        select * from userInfo where username=#{username}
    </select>

    <insert id="register" parameterType="user">
        insert into user values (#{username}, #{password})
    </insert>

    <select id="getCidsByUsername" parameterType="string" resultType="int">
        select cid from submits where uid=#{username}
    </select>

    <update id="updatePwd" parameterType="string">
        update user set password=#{newPwd} where username=#{username} and password=#{oldPwd}
    </update>

    <insert id="addFeedBack" parameterType="feedBack">
        insert into feedback(contact, content) values (#{contact}, #{content})
    </insert>

</mapper>
